<%- include('../partials/header') -%>

<div class="container form-input">

	<h1 class="form-input-title">New Blog Post</h1>
	<form action="/blogs" method="POST">
		<label for="title">Title:</label>
		<input id="title" type="text" name="blog[title]" placeholder="Ex: My First Blog Post" required>
		<label for="image-url">Image URL:</label>
		<input id="image-url" type="text" name="blog[image]" placeholder='Ex: "http://somereallylongurl.com/gallery/dog.jpg"'>
		<label for="body">Body:</label>
		<textarea id="body" name="blog[body]" required>Insert Blog Content Here</textarea>
		<input class="button" type="submit">
		<p><a href="/blogs/">Go Back</a></p>
	</form>

</div>

<%- include('../partials/flash') -%>

<%- include('../partials/footer') -%>
