<footer>
			<div class="container">
				<nav>
					<ul>
						<li><a href="/footer">Contact</a></li>
						<li><a href="/footer">Privacy Policy</a></li>
						<li><a href="/footer">About</a></li>
					</ul>
				</nav>
			</div>
		</footer>
	</div>
	<script type="text/javascript" src="js/aos.js"></script>
	<script type="text/javascript">
		AOS.init({
			duration: 700,
			once: true
		});
	</script>
	<script type="text/javascript" src="js/script.js"></script>
</body>
</html>
