<%- include('./partials/header') -%>

<div class="container">
		<h1>404 Error: Page does not exist.</h1>
		<h2>Could not find the URL <%= url %>. Please check the address and try again!</h2>
		<a href="/blogs">Go back to home page</a>
</div>

<%- include('./partials/footer') -%>
© 2020 GitHub, Inc.
